.TrendsPage-dark {
    height: 100%;
    width: 100%;
    background-color: black;
    
    margin: 0 auto;
}

.TrendsPage-light {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

.TrendsPage-box {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-dark {
    width: 180px;
    height: 24px;
    font-family: Exo 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-light {
    width: 180px;
    height: 24px;
    font-family: Exo 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #AFB2B6;
    margin: 0 auto;
    padding-top: 20px;
}