body {
    margin: 0;
}

.ResetPassword {
    width: 100%;
    height: 1100px;
    background: #000000;
}

.ResetPassword-background {
    width: 100%;
    height: 1100px;
    background-image: url(/src/assets/Frame.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; 
}

.ResetPassword-box {
    width: 95%;
    height: 1000px;
    margin: 0 auto;    
}

.ResetPassword-btnPixema {
    width: 175px;
    height: 50px;
    background: rgba(0, 0, 0, 0.0);
    border: none;
    margin-top: 40px;
    margin-bottom: 290px;
    text-align: left;
}

.ResetPassword-btnPixema_hover {
    cursor: pointer;
}

.ResetPassword-box-form-dark {
    width: 534px;
    height: 290px;
    padding: 40px 0px 0px 40px;
    border-radius: 10px;
    background: #242426;
    margin: 0 auto;
}

.ResetPassword-box-form-light {
    width: 534px;
    height: 290px;
    padding: 40px 0px 0px 40px;
    border-radius: 10px;
    background: white;
    margin: 0 auto;
}

.ResetPassword-box-form-input-dark {
    width: 480px;
    height: 56px;
    border-radius: 10px;
    background: #323537;
    border: none;
    padding-left: 14px;
}

.ResetPassword-box-form-input-light {
    width: 480px;
    height: 56px;
    border-radius: 10px;
    background: white;
    border-color: #AFB2B6;
    padding-left: 14px;
}

.btn-ResetPassword {
    width: 494px;
    height: 56px;
    border-radius: 10px;
    background: #7B61FF;
    color: white;
    border: none;
    font-family: Exo 2;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 40px 0px 30px 0px;
}

.btn-ResetPassword_hover {
    cursor: pointer;
}

.footer {
    width: 180px;
    height: 24px;
    font-family: Exo 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    margin: 0 auto;
}

